<!DOCTYPE html>
<html lang="en" data-theme="garden">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Reframe</title>
    
    <link href="https://cdn.jsdelivr.net/npm/daisyui@2.31.0/dist/full.css" rel="stylesheet" type="text/css" />
    <script src="https://cdn.tailwindcss.com/"></script>
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="https://octoshrimpy.github.io/microcss/nf.css">
  </head>
  <body class="w-full bg-secondary-focus">

    <header class="navbar bg-primary text-primary-content sticky top-0 z-50">
      <div class="flex-1">
        <a href="/feed" class="btn btn-ghost normal-case text-xl hover:bg-transparent"><h1>Reframe</h1></a>
        <span>Born Negative, Reborn Positive</span>
      </div>
    </header>