<%- include('partials/header-no-prof') -%>

    <main class="bg-base-200 mx-auto">
        <div class="my-4 container mx-auto">
            <section class="mx-auto">
                <% if (locals.messages.errors) { %>
                    <% messages.errors.forEach( el => { %>
                        <div class="alert alert-danger"><%= el.msg %></div>
                    <% }) %>    
                <% } %>
                <% if (locals.messages.info) { %>
                    <% messages.info.forEach( el => { %>
                        <div class="alert alert-info"><%= el.msg %></div>
                    <% }) %>    
                <% } %>
                <form action="/signup" method="POST" class="mx-auto w-fit grid grid-cols-2 gap-x-2 gap-y-4">
                    <div class="w-fit mb-5 mt-5">
                        <label for="userName" class="form-label">User Name</label>
                        <input type="text" class="form-control input" id="userName" name="userName">
                      </div>
                    <div class="w-fit mb-5 mt-5 relative">
                      <label for="exampleInputEmail1" class="form-label">Email address</label>
                      <input type="email" class="form-control input" id="exampleInputEmail1" aria-describedby="emailHelp" name="email">
                      <div id="emailHelp" class="form-text text-primary absolute left-0 top-100 whitespace-nowrap">We'll never share your email with anyone else.</div>
                    </div>
                    <div class="w-fit mb-5 mt-5">
                      <label for="password" class="form-label">Password</label>
                      <input type="password" class="form-control input" id="password" name="password">
                    </div>
                    <div class="w-fit mb-5 mt-5">
                        <label for="confirmPassword" class="form-label">Confirm Password</label>
                        <input type="password" class="form-control input" id="confirmPassword" name="confirmPassword">
                      </div>
                      <button type="submit" class="btn btn-active btn-primary hover:bg-primary my-4 col-span-2">Submit</button>
                    </form>
            </section>
        </div>
    </main>

<%- include('partials/footer') -%>